body {
    font-family: verdana;
    font-size: 12pt;
}

.CodeMirror {
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.editor {
    border: 1px solid black;
    height: 500px;
    margin: 25px;
    flex: 1;
}
.graph {
    margin-top: 50px;
    flex: 1;
}
.elemType {
    width: 50%;
    height: 40px;
    background-color: lavender;
    font-family: 'Courier New';
    margin: 25px;
    padding: 5px;
}
.elemHelp {
    font-style: italic;
    width: 50%;
    height: 80px;
    margin: 25px;
    padding: 5px;
}
.node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
    pointer-events: none;
}
path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

.astNode {
    fill: #FFFFAA;
    stroke: black;
}

.isLeaf {
    stroke-width: 2px;
}

.isLexical {
    stroke: gray;
    stroke-dasharray: 10 5;
}

.isBlockScoped {
    fill: #DCFFE9;
}

g.astNode text {
    text-anchor: middle;
    fill: blue;
    font-family: 'Courier New';
    font-size: 12px;
}